<div
    *ngIf="equipmentDetails"
    [attr.id]="equipmentDetails.id"
    class="eventDetails basicTile"
>
  <div class="header">
    <h2 class="equipmentName">{{equipmentDetails.description}}</h2>
    <ul class="params">
      <li class="">
        Typ: {{'EQUIPMENT.TYPE.' + equipmentDetails.type | translate}}
      </li>
      <li class="">
        Wartość: {{equipmentDetails.value}} zł
      </li>
      <li class="">
        Identyfikator: {{equipmentDetails.code}}
      </li>
      <li class="">
        Status: {{'EQUIPMENT.STATUS.' + equipmentDetails.status | translate}}
      </li>
    </ul>
    <h3 *ngIf="!owner">
      Nikt nie jest przypisany do sprzętu
    </h3>
  </div>

<footer class="equipmentActions">
  <span *ngIf="loggedUser!.superuser && equipmentDetails.status == 'NEW'">
    <select
        name="selectedPerson"
        id="selectedPerson"
        [(ngModel)]="selectPeople"
    >
      <option
          *ngFor="let people of peopleList"
          value="{{people.id}}"
      >{{people.firstname}} {{people.lastname}}</option>
    </select>
    <button
        class="button"
        (click)="assign(equipmentDetails.id)"
    >Przypisz do użytkownika
    </button>
  </span>
  <button
      *ngIf="equipmentDetails.status == 'CONFIRMATION' && loggedUser?.id == equipmentDetails.currentOwnerId"
      class="button"
      (click)="returnEquipment(equipmentDetails.id)"
  >Oddaj sprzęt
  </button>
  <button
      *ngIf="equipmentDetails.status == 'CONFIRMATION' && loggedUser?.id != equipmentDetails.currentOwnerId && loggedUser?.superuser"
      class="button"
      (click)="returnSuperuserEquipment(equipmentDetails.id)"
  >Oddaj sprzęt w imieniu użytkownika
  </button>
  <button
      *ngIf="equipmentDetails.status == 'CONFIRMATION_APPLICATION' && loggedUser?.id == equipmentDetails.currentOwnerId"
      class="button"
      (click)="accept(equipmentDetails.id)"
  >Zaakceptuj
  </button>
  <button
      *ngIf="equipmentDetails.status == 'CONFIRMATION_APPLICATION' && loggedUser?.id == equipmentDetails.currentOwnerId"
      class="button"
      (click)="returnEquipment(equipmentDetails.id)"
  >Odrzuć
  </button>
  <button
      *ngIf="equipmentDetails.status == 'CONFIRMATION_APPLICATION' && loggedUser?.id == loggedUser?.superuser"
      class="button"
      (click)="returnSuperuserEquipment(equipmentDetails.id)"
  >Odrzuć
  </button>
  <button
      *ngIf="equipmentDetails.status == 'RETURN_APPLICATION' && loggedUser?.superuser"
      class="button"
      (click)="returnSuperuserEquipment(equipmentDetails.id)"
  >Zaakceptuj zwrot sprzętu
  </button>

</footer>
</div>

<div *ngIf="owner">
  <h3>Uzytkownik:</h3>
  <app-person-tile
      [person]="owner"
      [hideLabels]="false"
  ></app-person-tile>
</div>


<!-- <pre>{{equipmentDetails | json}}</pre> -->