.equipmentName {
  margin: 8px 0 4px;
}

.peopleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.personTile {
  padding: 8px;
  border-radius: 16px;
  background: white;
  box-shadow: var(--BOX_SHADOW);
}

.params {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.equipmentActions {
  display: flex;
  grid-gap: 8px;
}
