<div
    *ngIf="loggedUser"
    class="container basicTile"
>

    <div class="user">

        <div class="username">
            {{loggedUser.firstname}} <br> {{loggedUser.lastname}}
        </div>

        <div class="avatar basicTile">
            <img
                src="assets/photo/{{loggedUser.photo}}"
                alt="Zdjęcie osoby"
            >
        </div>
    </div>
</div>