:host {
  width: 100%;
}

.container {
  display: flex;
  grid-gap: 16px;
  justify-content: flex-end;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  overflow: hidden;
  background-color: transparent !important;
  backdrop-filter: blur(10px);

  position: sticky;
  top:0;
  &:hover {
    &:before {
      opacity: 0.6;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0;
    background-image: url("/assets/img/bg_color.jpg");
    background-size: auto;
    transition: 500ms;
  }

  .user {
    display: flex;
    grid-gap: 16px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .avatar {
    height: 48px;
    width: 48px;
    border-radius: 16px;
    background-color: white;
    box-shadow: var(--BOX_SHADOW);
    padding:0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
