<!-- <pre>{{event[0] | json }}</pre> -->
<div
  *ngIf="myEquipments"
  class="eventContainer"
>
  <h1>Twój sprzęt:</h1>
  <ul class="equipmentGrid">
    <li
      *ngFor="let equipment of myEquipments"
      [attr.id]="equipment.id"
      class="eventTile basicTile tile"
    >
      <a [routerLink]="['/equipments/'+equipment.id]">
        <h2 class="equipmentdescription">
          {{equipment.description}}
        </h2>
        <ul class="equipmentDetails">
        </ul>
      </a>
    </li>
  </ul>
  <span *ngIf="otherEquipments && loggedUser!.superuser">
    <h1>Pozostały sprzęt:</h1>
    <ul class="equipmentGrid">
      <li
        *ngFor="let equipment of otherEquipments"
        [attr.id]="equipment.id"
        class="eventTile basicTile tile"
      >
        <a [routerLink]="['/equipments/'+equipment.id]">
          <h2 class="equipmentdescription">
            {{equipment.description}}
          </h2>
          <ul class="equipmentDetails">
          </ul>
        </a>
      </li>
    </ul>
  </span>
</div>
