<!-- <pre>{{people[0] | json }}</pre> -->
<div
    *ngIf="people"
    class="peopleContainer"
>
    <h1>Pracownicy</h1>
    <ul class="peopleGrid">
        <li *ngFor="let person of people">
            <app-person-tile [person]="person"></app-person-tile>
        </li>
    </ul>
</div>