<div class="sideMenuContainer">
    <div class="content">
        <div class="logoWrapper">
            <img
                src="assets/img/Decerto_72dpi2.png"
                alt="logo Decerto"
            >
        </div>
        <nav class="sideMenuNavigation">
            <ul>
                <li *ngFor="let link of sideMenuLinks">
                    <a
                        class="sideMenuLink"
                        [routerLink]="[link.url]"
                        routerLinkActive="active"
                    >
                        <div class="icon">
                            <img
                                [src]="'/assets/img/'+link.icon"
                                alt=""
                            >
                        </div>
                        <span class="text">
                            {{'MENU.'+link.name | translate}}
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>