.content {
  position: sticky;
  top: 20px;
}

.logoWrapper {
  width: 100%;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0);
    opacity: 0;
    transition: 500ms;
    animation: show_in 700ms cubic-bezier(0.04, 1.63, 0.18, 1) forwards;
  }
}

.sideMenuContainer {
  padding: 8px;
  box-shadow: var(--BOX_SHADOW);
  background-color: var(--BACKGROUND);
  height: 100%;
}

.sideMenuNavigation {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      font-size: 1.2em;
      padding: 8px 6px;
    }
  }

  .icon {
    display: none;
    img {
      width: 36px;
    }
  }
}

@media screen and (max-width: 900px) {
  .sideMenuLink {
    padding-left: 0;
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  .sideMenuNavigation {
    .icon {
      display: flex;
      justify-content: center;
    }
    .text {
      display: none;
    }
  }
}

@keyframes show_in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
