<div
    *ngIf="!!personDetails"
    class="basicTile personDetailsWrapper"
>
    <div class="header">
        <h2 class="personName">{{personDetails.firstname}} {{personDetails.lastname}}</h2>
        <div class="profession">{{personDetails.profession}}</div>
        <div class="detailsGrid">
            <ul
                *ngIf="personDetails.equipments.length > 0"
                class="equipment"
            >
                <li><strong>Wynajęty sprzęt:</strong></li>
                <li [routerLink]="['/equipments/'+item.id]"
                    class="record textLink"
                    [attr.id]="item.id"
                    *ngFor="let item of personDetails.equipments"
                >{{'EQUIPMENT.TYPE.'+item.type | translate}}:
                    {{item.description}}</li>
            </ul>
            <ul
                *ngIf="personDetails.events.length > 0"
                class="events"
            >
                <li><strong>Powiązane wydarzenia:</strong></li>
                <li [routerLink]="['/events/'+event.id]"
                    class="record textLink"
                    [attr.id]="event.id"
                    *ngFor="let event of personDetails.events"
                >{{'EVENT.TYPE.'+event.type| translate}}: <br>
                    <span>{{event.startDate | date: 'dd-MM-YYYY'}}</span> {{event.description}}


                </li>
            </ul>
            <div class="listing">
                <ul
                    *ngIf="personDetails.projects.length > 0"
                    class="projects"
                >
                    <li><strong>Projekty:</strong></li>
                    <li
                        *ngFor="let project of personDetails.projects"
                        class="chip"
                    >{{project.company}} / {{project.project}}</li>
                </ul>
                <ul
                    *ngIf="personDetails.technologies.length > 0"
                    class="projects"
                >
                    <li><strong>Technologie:</strong></li>
                    <li
                        *ngFor="let technology of personDetails.technologies"
                        class="chip"
                    >{{technology}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="photoWrapper">
        <img
            src="assets/photo/{{personDetails.photo}}"
            alt="Zdjęcie osoby"
        >
    </div>
</div>
