.header {
  .personName {
    font-size: 1.8em;
  }
  .profession {
    font-size: 1.4em;
  }
}

.personName {
  margin: 0 0 8px;
}

.detailsGrid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects {
  strong {
    display: inline-block;
    margin-bottom: 8px;
  }

  //   display: flex;
  grid-gap: 8px;
  .chip {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 4px;;
  }
}

.events,
.equipment {
  strong {
    display: inline-block;
    margin-bottom: 8px;
  }

  .record {
    margin-bottom: 8px;
  }

  .record:not(:last-children) {
    border-bottom: solid 1px var(--COLOR_FONT);
  }
}

.personDetailsWrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 350px;

  .photoWrapper {
    overflow: hidden;
    border-radius: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}

@media screen and (max-width:800px) {
  .personDetailsWrapper {
    grid-template-columns: 1fr;
  }

  .detailsGrid {
    grid-template-columns: 1fr;
  }

  .photoWrapper {
    grid-row: 1;
  }
}