<section
    *ngIf="eventDetails"
    [attr.id]="eventDetails.id"
    class="eventDetails basicTile"
>
    <h2 class="eventName">
        {{"EVENT.TYPE."+eventDetails.type | translate}}: {{eventDetails.name}}
    </h2>
    <ul class="eventDetailsDetails">
        <li *ngIf="!!eventDetails.address"><strong>{{eventDetails.address.city}}, {{eventDetails.address.street}}
                {{eventDetails.address.homeNo}}</strong></li>
        <li *ngIf="!!eventDetails.startDate && !!eventDetails.endDate"><small>{{eventDetails.startDate |
                date:'dd-MM-yyyy'}} -
                {{eventDetails.endDate | date:'dd-MM-yyyy'}}</small></li>
        <li>{{eventDetails.description}}</li>

    </ul>

    <footer>
        <div [ngSwitch]="userExistInEvent">
            <button
                *ngSwitchCase="false"
                class="button"
                (click)="addUserToEvent(eventDetails.id)"
            >Dołącz
            </button>
            <button
                *ngSwitchCase="true"
                class="button"
                (click)="removeUserFromEvent(eventDetails.id)"
            >Zrezygnuj
            </button>
        </div>
    </footer>

    <div
        class="graphicWrapper"
        [ngSwitch]="eventDetails.type"
    >
        <img
            *ngSwitchCase="'TRIP'"
            src="assets/img/around.svg"
            alt=""
        >
        <img
            *ngSwitchCase="'INTEGRATION_OUTPUT'"
            src="/assets/img/cheers.svg"
            alt=""
        >
        <img
            *ngSwitchCase="'INDOOR_PARTY'"
            src="/assets/img/employee.svg"
            alt=""
        >
        <img
            *ngSwitchCase="'OTHER'"
            src="/assets/img/event.png"
            alt=""
        >
    </div>
</section>

<section *ngIf="comments" class="eventComments">
    <h3>{{comments.length}} Komentarze</h3>
    <ul class="eventsGrid">
        <li *ngFor="let comment of comments">
            <app-person-tile [person]="comment.user" [hideLabels]="true">
               <p> {{comment.value}}</p>
            </app-person-tile>
        </li>
    </ul>
</section>

<section *ngIf="peopleInEvent">
    <h3>{{peopleInEvent.length}} uczestników</h3>
    <ul class="peopleGrid">
        <li *ngFor="let person of peopleInEvent">
            <app-person-tile [person]="person"></app-person-tile>
        </li>
    </ul>
</section>