.personName {
  margin: 8px 0 4px;
}

.eventDetails {
  position: relative;

  .graphicWrapper {
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    width: 200px;
    opacity: .15;
    padding: 28px;

    img{
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

.eventsGrid {
  display: grid;
  grid-gap:16px;
  margin-bottom: 24px;
}

.peopleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1rem;
  align-items: stretch;
}

.peopleGrid,
app-person-tile {
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 8px;
  justify-content: space-between;
  align-items: center;
  .eventName {
    margin: 0;
  }
}

.tags {
  margin: 0;
  display: flex;
  grid-gap: 8px;
}
