<div class="people basicTile">
    <h2>Ludzie</h2>
    <strong>113 pracowników</strong>
</div>
<div class="people basicTile">
    <h2>Wydarzenia</h2>
    <strong>13 zaplanowanych</strong>
</div>
<div class="people basicTile">
    <h2>Sprzęt</h2>
    <strong>70 w magazynie</strong>
</div>
<div class="people basicTile">
    <h2>Projekty</h2>
    <strong>12 aktywnych</strong>
</div>

<img src="" alt="">