<div class="basicTile formGrid">
    <div class="newEventFormGrid">
        <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(ngModel)]="newEvent.eventType">
                <mat-option value="TRIP">{{'EVENT.TYPE.TRIP' | translate}}</mat-option>
                <mat-option value="INTEGRATION_OUTPUT">{{'EVENT.TYPE.INTEGRATION_OUTPUT' | translate}}</mat-option>
                <mat-option value="INDOOR_PARTY">{{'EVENT.TYPE.INDOOR_PARTY' | translate}}</mat-option>
                <mat-option value="OTHER">{{'EVENT.TYPE.OTHER' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field
            class="example-full-width"
            appearance="fill"
        >
            <mat-label>Nazwa</mat-label>
            <input
                matInput
                placeholder="Np. Wyjście do kina"
                value="newEvent.name"
                [(ngModel)]="newEvent.name"
            >
        </mat-form-field>

        <mat-form-field
            class="example-full-width"
            appearance="fill"
        >
            <mat-label>Opis</mat-label>
            <input
                matInput
                placeholder="Szczegółowy opis wydarzenia"
                value="newEvent.name"
                [(ngModel)]="newEvent.description"
            >
        </mat-form-field>

        <div class="doubleFields">
            <mat-form-field appearance="fill">
                <mat-label>Data rozpoczęcia</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="newEvent.startDate"
                    [matDatepicker]="pickerStartDate"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerStartDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate></mat-datepicker>
            </mat-form-field> 
            <mat-form-field appearance="fill">
                <mat-label>Data zakończenia</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="newEvent.endDate"
                    [matDatepicker]="pickerEndDate"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerEndDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="formFotter">
            <button class="button"
            (click)="createEvent()">Zapisz</button>
        </div>

    </div>

    <div class="graphicWrapper" [ngSwitch]="newEvent.eventType">
        <img *ngSwitchCase="'TRIP'" src="assets/img/around.svg" alt="">
        <img *ngSwitchCase="'INTEGRATION_OUTPUT'" src="/assets/img/cheers.svg" alt="">
        <img *ngSwitchCase="'INDOOR_PARTY'" src="/assets/img/employee.svg" alt="">
        <img *ngSwitchCase="'OTHER'" src="/assets/img/event.png" alt="">
    </div>
   


</div>
