.formGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;

  .graphicWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
      height: auto;
      object-fit: contain;
      transform: scale(0);
      opaicty: 0;
      animation: showIn 500ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    }
  }
}

.newEventFormGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  width: 100%;
  max-width: 450px;
}

.doubleFields {
  display: flex;
  grid-gap: 8px;
}

@keyframes showIn {
  from {
    transform: scale(0);
    opaicty: 0;
  }
  to {
    transform: scale(1);
    opaicty: 1;
  }
}
