<!-- <pre>{{event[0] | json }}</pre> -->
<button
    [routerLink]="['../add']"
    class="button"
>
    Dodaj wydarzenie
</button>

<div
    *ngIf="!!loggedUserEvents && loggedUserEvents.length > 0"
    class="eventContainer"
>
    <h1>Twoje wydarzenia</h1>
    <ul class="eventGrid">
        <li
            *ngFor="let event of this.loggedUserEvents"
            [attr.id]="event.id"
            class="eventTile basicTile tile"
        >
            <a [routerLink]="['/events/'+event.id]">
                <h2 class="eventName">
                    {{"EVENT.TYPE."+event.type | translate}}
                </h2>
                <ul class="eventDetails">
                    <li *ngIf="!!event.address"><strong>{{event.address.city}}, {{event.address.street}}
                        {{event.address.homeNo}}</strong></li>
                        <li *ngIf="!!event.startDate && !!event.endDate"><small>{{event.startDate | date:'dd-MM-yyyy'}} -
                            {{event.endDate | date:'dd-MM-yyyy'}}</small></li>
                    <li>{{event.description}}</li>
                  
                </ul>
            </a>
        </li>
    </ul>
</div>
<div
    *ngIf="!!otherEvents && otherEvents.length > 0"
    class="eventContainer"
>
    <h1>Pozostałe wydarzenia</h1>
    <ul class="eventGrid">
        <li
            *ngFor="let event of otherEvents"
            [attr.id]="event.id"
            class="eventTile basicTile tile"
        >
            <a [routerLink]="['/events/'+event.id]">
                <h2 class="eventName">
                    {{"EVENT.TYPE."+event.type | translate}}
                </h2>
                <ul class="eventDetails">
                    <li>{{event.description}}</li>
                </ul>
            </a>
        </li>
    </ul>
</div>
