:host {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px auto;
  width: 100%;
  height: 100%;

  .container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  app-topbar {
    grid-column: 2;
    grid-row: 1;
  }

  app-sidemenu {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .routerWrapper {
    grid-column: 2;
    grid-row: 2;
  }

  app-topbar,
  .routerWrapper {
    padding: 0 24px;
  }
}

@media screen and (max-width: 900px) {
  :host {
    grid-template-columns: 100px 1fr;
  }
}
