
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sasiedzi-primary: mat.define-palette(mat.$indigo-palette);
$sasiedzi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sasiedzi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sasiedzi-theme: mat.define-light-theme((
  color: (
    primary: $sasiedzi-primary,
    accent: $sasiedzi-accent,
    warn: $sasiedzi-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sasiedzi-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
:root {
  --COLOR_PRIMARY: #89fcc5;
  --COLOR_SECONDARY: #5dc7d5;
  --COLOR_FONT: #002841;
  --BACKGROUND: #f2f2f2;
  --BOX_SHADOW: 0 5px 20px var(--BOX_SHADOW_COLOR);
  --BOX_SHADOW_COLOR: #00284133;
  .dark {
    --COLOR_PRIMARY: #89fcc5;
    --COLOR_SECONDARY: #5dc7d5;
    --COLOR_FONT: #f2f2f2;
    --BACKGROUND: #002841;
  }
}
html {
  font-family: "Open Sans", sans-serif;
  color: var(--COLOR_FONT);
  body {
    padding: 0;
    margin: 0;
    background-color: var(--BACKGROUND);
  }
  &,
  body {
    height: 100%;
    min-height: 100%;
  }
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// Desing
.chip {
  padding: 2px 4px;
  background-color: var(--COLOR_PRIMARY);
  border-radius: 6px;
}

.sideMenuLink {
  color: var(--COLOR_FONT);
  padding-left: 8px;
  display: flex;
  align-items: center;
  position: relative;

  &.active {
    font-weight: bold;
  }

  &,
  &:before {
    transition: 170ms;
    will-change: auto;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: transparent;
    border-width: 2px;
    transform: scaleY(0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 60ms;
  }

  &:hover {
    //   background-color: red;
    &:before {
      transition-delay: 0ms;

      transform: scaleY(100%);
      background-color: var(--COLOR_FONT);
    }
  }
}

.textLink {
  color: var(--COLOR_FONT);
  padding-left: 8px;
  display: block;
  position: relative;
  cursor:pointer;

  &.active {
    font-weight: bold;
  }

  &,
  &:before {
    transition: 170ms;
    will-change: auto;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: transparent;
    border-width: 2px;
    transform: scaleY(0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 60ms;
  }

  &:hover {
    //   background-color: red;
    &:before {
      transition-delay: 0ms;

      transform: scaleY(100%);
      background-color: var(--COLOR_FONT);
    }
  }
}

.tile {
  transition: 500ms ease;
  &:hover {
    transition: 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: scale(1.05);
  }
}

.button {
  outline: none;
  padding: 8px;
  box-shadow: var(--BOX_SHADOW);
  background: #5dc7d5;
  color: var(--BACKGROUND);
  border: none;
  font-size: 1.2em;
  border-radius: 8px;
  transition: 550ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: auto;
  cursor: pointer;
  &:hover {
    transition: 150ms;
    transform: scale(0.95);
  }
}

.basicTile {
  padding: 8px;
  border-radius: 16px;
  background: var(--BACKGROUND);
  box-shadow: var(--BOX_SHADOW);
}

//DEV

pre {
  color: var(--BACKGROUND);
  background-color: var(--COLOR_FONT);
  padding: 8px;
  border-radius: 8px;
  font-size: 1.4em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
