.personName {
    margin: 8px 0 4px;
  }
  
  
  .header {
    display: grid;
    grid-template-columns:auto 1fr;
    grid-template-rows: auto auto;
    align-items: flex-start;
    grid-gap: 4px 8px;
    margin-bottom: 16px;
  }
  
  .personTile {
      display:block;
    padding: 8px;
    border-radius: 16px;
    height: 100%;
    // background: white;
    box-shadow: var(--BOX_SHADOW);
    .personName {
      grid-column: 2;
      grid-row: 1;
    }
  
    .profession {
      grid-column: 2;
      grid-row: 2;
    }
  
    .avatarWrapper {
      grid-row: 1 / span 2;
      width: 72px;
      height: 72px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
  
    .project {
    }
  }
  