<a
    [attr.id]="person.id"
    class="personTile tile"
    [routerLink]="['/people/'+person.id]"
>
    <div class="header">
        <div class="avatarWrapper">
            <img
                class="personImage"
                [src]="'assets/photo/'+person.photo"
                alt="Zdjęcie osoby"
            >
        </div>
        <h2 class="personName">
            {{person.firstname}} {{person.lastname}}
        </h2>
        <span class="profession">{{person.profession}}</span>
    </div>

    <ng-content></ng-content>

    <ul *ngIf="!hideLabels" class="personDetails">
        <ul class="projects">
            <li
                *ngFor="let project of person.projects"
                class="project chip"
            >{{project.company}} / {{project.project}}</li>
        </ul>
    </ul>


</a>